@import "../../../../scss/mixin";

.dialogs-page{
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-gap: 30px;

  .form{
    margin-top: 30px;
  }
  .dialogs-items{
    .item{
      a{
        background: #ffffff;
        padding: 10px 30px;
        border-radius: 15px;
        display: block;

        &.active{
          background: $gray;
          color: #ffffff;
        }
      }

      & + .item{
        margin-top: 15px;
      }
    }
  }
  .messages{
    .message{
      background: #ffffff;
      padding: 10px 30px;
      border-radius: 15px;
    }
  }
}
